{% extends 'pages/base.html' %}
{% block content %}
{% load static %}
    <div class="site-blocks-cover overlay" style="background-image: url(/static/pages/images/slider/compra.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1 class="mb-4">Compra de Vehiculos</h1>
            </div>
          </div>
        </div>
      </div>

    
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Nuestros vehiculos a la venta</h2>
          </div>
        </div>
        <div class="row">



          <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="/static/pages/images/Cars/chevrolet/front.png" alt="">



            <!-- height="32" width="32"-->

          <h4 class="card-header">Chevrolet</h4>
          <div class="card-body">
            <li class="card-text">Modelo: Silverado</li>
            <li class="card-text">Valor: $16.690.000</li>
            <li class="card-text">Categoria: Camioneta 4 puertas</li>
            <li class="card-text">Año: 2014</li>
            <li class="card-text">Motor: V8</li>
            <li class="card-text">Cilindrada: 5.3 L</li>
            <li class="card-text">Traccion: Total (4WD)</li>
            <li class="card-text">Transmision: Automatica de 6 velocidades</li>
            <li class="card-text">Airbags: frontales, laterales, Censor de volcamiento</li>
            <li class="card-text">Combustible: Gasolina</li>
            <li class="card-text">Kilometraje: 52.000 Kms.</li>
          
          </div>
          <div class="card-footer">
            <a href="chevrolet.html" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>



      <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="/static/pages/images/Cars/mazda/front.png" alt="">
          <h4 class="card-header">Mazda</h4>
          <div class="card-body">
            <li class="card-text">Modelo: RX8</li>
            <li class="card-text">Valor: $6.000.000</li>
            <li class="card-text">Categoria: Coupe 4 puertas (Suicide Doors)</li>
            <li class="card-text">Año: 2006</li>
            <li class="card-text">Motor: Rotativo</li>
            <li class="card-text">Cilindrada: 1.3L</li>
            <li class="card-text">Traccion: Trasera</li>
            <li class="card-text">Transmision: Manual de 6 velocidades</li>
            <li class="card-text">Airbags: frontales, laterales, posteriores a la cabeza</li>
            <li class="card-text">Combustible: Gasolina</li>
            <li class="card-text">Kilometraje: 94.000 Kms</li>
            
          </div>
          <div class="card-footer">
            <a href="mazda.html" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="/static/pages/images/Cars/toyota/front.png" alt="">
          <h4 class="card-header">Toyota</h4>
          <div class="card-body">
            <li class="card-text">Modelo: Yaris sport (Hatchback)</li>
            <li class="card-text">Valor: $7.590.000</li>
            <li class="card-text">Compacto 5 puertas</li>
            <li class="card-text">Año: 2017</li>
            <li class="card-text">Motor: 4 Cilindros</li>
            <li class="card-text">Cilindrada: 1.5L</li>
            <li class="card-text">Traccion: Delantera</li>
            <li class="card-text">Transmision: Manual de 5 velocidades</li>
            <li class="card-text">Airbags: frontales</li>
            <li class="card-text">Combustible: Gasolina</li>
            <li class="card-text">Kilometraje: 43.000 Kms</li>
          </div>
          <div class="card-footer">
            <a href="toyota.html" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </div>
      
      
      
      
      
      <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="/static/pages/images/Cars/subaru/front.webp" alt="">
          <h4 class="card-header">Subaru</h4>
          <div class="card-body">
            <li class="card-text">Modelo: Forester</li>
            <li class="card-text">Valor: $6.200.000</li>
            <li class="card-text">Categoria: SUV Todoterreno 4 puertas</li>
            <li class="card-text">Año: 2011</li>
            <li class="card-text">Motor: 4 cilindros BOXER</li>
            <li class="card-text">Cilindrada: 2.0L</li>
            <li class="card-text">Traccion: 4X4(AWD)</li>
            <li class="card-text">Transmision: Manual de 5 velocidades</li>
            <li class="card-text">Airbags: laterales</li>
            <li class="card-text">Combustible: Gasolina</li>
            <li class="card-text">Kilometraje: 100.000 Kms</li>
          
          </div>



          <div class="card-footer">
            <a href="subaru.html" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="/static/pages/images/Cars/subaru/front.webp" alt="">
          <h4 class="card-header">Mitsubishi</h4>
          <div class="card-body">
            <li class="card-text">Modelo: Lancer R/T</li>
            <li class="card-text">Valor: $5.200.000</li>
            <li class="card-text">Categoria: Sedan 4 Puertas</li>
            <li class="card-text">Año: 2008</li>
            <li class="card-text">Motor: 4 cilindros</li>
            <li class="card-text">Cilindrada: 1.5L</li>
            <li class="card-text">Traccion: Delantera</li>
            <li class="card-text">Transmision: Manual de 5 velocidades</li>
            <li class="card-text">Airbags: frontales</li>
            <li class="card-text">Combustible: Gasolina</li>
            <li class="card-text">Kilometraje: 143.000 Kms</li>
            
          </div>
          <div class="card-footer">
            <a href="mitsubichi-motors.html" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
          
          
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="/static/pages/images/Cars/nissan/front.webp" alt="">
          <h4 class="card-header">Nissan</h4>
          <div class="card-body">
           <li class="card-text">Modelo: 350z Roadster</li>
            <li class="card-text">Valor: $9.000.000</li>
            <li class="card-text">Categoria: Coupe descapotable 2 puertas (bi-plaza)</li>
            <li class="card-text">Año: 2008</li>
            <li class="card-text">Motor: V6</li>
            <li class="card-text">Cilindrada: 3.5L</li>
            <li class="card-text">Traccion: Trasera</li>
            <li class="card-text">Transmision: Manual de 6 velocidades</li>
            <li class="card-text">Airbags: frontales</li>
            <li class="card-text">Combustible: Gasolina</li>
            <li class="card-text">Kilometraje: 93.000 Kms</li>
          </div>
          <div class="card-footer">
            <a href="nissan.html" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </div>

          {% if messages %}

          {% for m in messages %}

          <b> {{ m }} </b>
          
          {% endfor %}

          {% endif %}

        </div>
    
      </div>
    </div>
    


    <div class="py-4 quick-contact-info">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <div>
              <span class="icon-room text-white h2 d-block"></span>
              <h2>Sede Central</h2>
              <p class="mb-0">Esquina Blanca 501<br>Maipú Santiago De Chile, Region Metropolitana, Chile </p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div>
              <span class="icon-clock-o text-white h2 d-block"></span>
              <h2>Horario de servicio</h2>
              <p class="mb-0">Lunes a Viernes 9:00AM - 19:00PM <br>
              Sabado - 9:00AM - 14:00PM <br>
              Domingos Cerrado</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div>
              <span class="icon-comments text-white h2 d-block"></span>
              <h2>Contactanos</h2>
              <p class="mb-0">Email: consultas@intake.com <br>
              Llámanos al +56978894521 <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}