{% extends 'pages/base.html' %}
{% block content %}
{% load static %}
   <div class="site-blocks-cover overlay" style="background-image: url(/static/pages/images/slider/0.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1 class="mb-4">¿Quienes Somos?</h1>
            </div>
          </div>
        </div>
      </div>  

    
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mb-5 mb-md-0">
            
              <div class="img-border">
              <img src="{% static 'pages/images/slider/edificio.jpg' %}" alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-md-5 ml-auto">
            

            <div class="section-heading text-left">
              <h2 class="mb-5">Sobre nosotros</h2>
            </div>
            <p class="mb-4">Un grupo de estudiantes de ingenieria en informatica necesitaban pensar una idea en la cual desarrollar para poder cumplir con la evaluacion de una pagina web. No fue facil poder encontrar la idea que más le agradara, asi pasaron por una lluvia de ideas pero sin poder lograr converserce de algunas de ellas.
            </p>
            <p>Con el tiempo los estudiantes pudieron llegar a la conclusion que la mayoria de las plataformas para realizar compra y venta de vehiculos no era lo suficiente para poder cumplir con todas necesidades que los clientes necesitaban
            </p>
            <p>Asi es como nace InTake una plataforma segura y confiable que cuanta con todas las requisitos para los clientes se sientas agusto al poder comprar o vender su vehiculo, y no solo eso, tambien cuenta con una proyeccion para un futuro cercano de poder comprar repuestos para tu auto y asi dar la satisfaccion al cliente de poder tener su vehiculo soñado en las mejores condiciones.
            </p>
          </div>
        </div>
      </div>
    </div>

      </div>
    </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">¿Quienes Somos?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="{% static 'pages/images/nosotros/gonzalo.jpg' %}" alt="Image" class="img-persona"></a>
              <div class="p-4">
                <h3 class="heading mb-3"><a href="#">Gonzalo Canto</a></h3>
                <p>Creemos en el libre mercado y seguiremos luchando para mantener y mejorar los estandares de calidad para el cliente.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="hotel-room text-center">
              <a href="#" class="d-block mb-4 thumbnail"><img src="{% static 'pages/images/nosotros/christopher.jpg' %}" alt="Image" class="img-persona"></a>
              <div class="p-4">
              <h3 class="heading mb-3"><a href="#">Chirstopher Herrera</a></h3>
              <p>Somos diferentes a la competencia, nosotros damos la seguridad y confienza que a los demas les falta.</p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="py-4 quick-contact-info">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <div>
              <span class="icon-room text-white h2 d-block"></span>
              <h2>Sede Central</h2>
              <p class="mb-0">Esquina Blanca 501<br>Maipú Santiago De Chile, Region Metropolitana, Chile </p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div>
              <span class="icon-clock-o text-white h2 d-block"></span>
              <h2>Horario de servicio</h2>
              <p class="mb-0">Lunes a Viernes 9:00AM - 19:00PM <br>
              Sabado - 9:00AM - 14:00PM <br>
              Domingos Cerrado</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div>
              <span class="icon-comments text-white h2 d-block"></span>
              <h2>Contactanos</h2>
              <p class="mb-0">Email: consultas@intake.com <br>
              Llámanos al +56978894521 <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}